[data-theme="light"] {
  --bg-color: #ffffff;
  --text-color: #333333;
}
[data-theme="dark"] {
  --bg-color: #333333;
  --text-color: #ffffff;
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 30px 30px;
}

.page {
  display: flex;
  flex-direction: column;
  height: 92vh;
}
.navbar {
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar div {
  display: flex;
  gap: 20px;
}
.navbar a {
  text-decoration: none;
  color: inherit;
}
