body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}
.app {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1 {
  text-align: center;
}
.form-section {
  margin: 20px auto;
  width: 600px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
}
.form-group {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
input[type="number"],
input[type="checkbox"] {
  margin: 10px;
  flex: 1;
}
input[type="number"] {
  padding: 8px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
}
button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
.pswd{
align-items: center;
justify-content: center;
border: 1px solid #000000;
padding-left: 5px;

}
