.dropdown {
  position: relative;
  width: 300px;
  margin: 20px;
}
.dropdown-header {
  padding: 10px;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 10px;
  background-color: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dropdown-arrow {
  font-size: 12px;
  margin-left: 10px;
}
.dropdown-list {
  list-style: none;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  position: absolute;
  width: 100%;
}
.dropdown-item {
  padding: 8px 12px;
  cursor: pointer;
  background-color: #fff;
  transition: background-color 0.2s ease;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}
