body {
  background-color: aliceblue;
}
h1 {
  margin-top: 20px;
  margin-bottom: 10px;
}
#todo-input {
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid blue;
}

button {
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  background-color: cadetblue;
}
button:hover {
  background-color: cornflowerblue;
}

#todo-list {
  list-style: none;
  padding: 0;
  width: 300px;
}
#todo-list li {
  display: flex;
  align-items: center;
  padding: 8px;
  margin-bottom: 8px;
  background-color: #fff;
  border-radius: 5px;
  gap: 5px;
  justify-content: space-between;
}
#todo-list li span {
  flex: 1;
}
