.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0px;
}
.input-box {
  padding: 8px;
  width: 200px;
}
.chips-data {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.item {
  display: flex;
  align-items: center;
  margin: 5px;
  background-color: lightgray;
  border-radius: 20px;
  padding: 5px 10px;
}
.item button {
  background: transparent;
  border: none;
  margin-left: 8px;
  cursor: pointer;
  color: red;
}
